.App {
  display: flex;
  flex-direction: row;
  font-family:'Times New Roman', Times, serif;
  max-width: 90%;
  max-height: 90%;
  /* height: 100%; */
  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
  margin-bottom: 3vmin;
}
.App-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-right: 5vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-weight:600;
  font-size: calc(2.5vmin);
  color: rgb(47, 47, 47);
}

.App-sub {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: calc(2vmin);
  color: rgb(47, 47, 47);
  margin-top: 3vmin;
  /* margin: 3vmin; */
}

.App-abstract {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: calc(2vmin);
  color: rgb(47, 47, 47);
  margin-top: 3vmin;
  /* margin-top: 3vmin; */
}

.App-but {
  display: flex;
  flex-direction: column;
  font-weight: light;
  font-size: calc(1.8vmin);
  color: rgb(47, 47, 47);
  margin-top: auto;
}

@media (max-width: 800px) { 
  .App {
    flex-direction: column;
    width: 100%;
  }
  .App-header {
    flex-direction: column;
    margin-right: 3vmin;
  }
  .App-sub {
    flex-direction: column;
    width: 100%;
    margin-right: 3vmin;
    margin-top: 0;
  }
  .App-container {
    flex-direction: row;
    width: 100%;
    margin-right: 3vmin;
  }
  .App-abstract {
    flex-direction: row;
    width: 100%;
    margin-right: 3vmin;
    margin-top: 0;
  }
  .App-but {
    flex-direction: row;
    width: 100%;
    margin-right: 3vmin;
  }
}